<div id="about" class="about-backdark about-back">
  <section class="pt-5">
    <div class="container-fluid">
      <div class="row justify-content-center about">
        <div class="col-md-6 about-content">
          <div class="text-dark h3 about_title">About Me</div>
          <div data-aos="zoom-in-up" data-aos-offset="50" data-aos-delay="50" data-aos-once="true"
            data-aos-duration="900">
            <div class="px-2">
              {{ .Site.Params.descripe_l1_person | markdownify }}
              <br />
              <br />
              {{ .Site.Params.descripe_l2_person | markdownify }}
            </div>
            {{ if .Site.Params.email }}
            <div class="py-3 pl-2">
              <a href="mailto:{{ .Site.Params.email }}?subject=Say hi!" target="_blank"
                class="btn-know btn btn-outline-info">
                Get In Touch
              </a>
            </div>
            {{ end }}
          </div>
        </div>
        <div class="col-md-5 about-skill">
          <div class="text-secondary text-center skills_heading">Programming Languages</div> 
          <div data-aos="zoom-in-down" data-aos-offset="50" data-aos-delay="50" data-aos-once="true"
            data-aos-duration="1000" class="skills_container">           
              {{ range .Site.Params.prog_lang }}
              <button type="button" class="btn btn-secondary btn-md    btn-skill">{{ .name }}</button>
              {{ end }}       
          </div>
          <div class="text-secondary text-center skills_heading">Libraries and Frameworks</div> 
          <div data-aos="zoom-in-down" data-aos-offset="50" data-aos-delay="50" data-aos-once="true"
            data-aos-duration="1000" class="skills_container">           
              {{ range .Site.Params.libraries_frameworks }}
              <button type="button" class="btn btn-secondary btn-md    btn-skill">{{ .name }}</button>
              {{ end }}       
          </div>
          <div class="text-secondary text-center skills_heading">Dev. Tools</div> 
          <div data-aos="zoom-in-down" data-aos-offset="50" data-aos-delay="50" data-aos-once="true"
            data-aos-duration="1000" class="skills_container">           
              {{ range .Site.Params.dev_tools }}
              <button type="button" class="btn btn-secondary btn-md    btn-skill">{{ .name }}</button>
              {{ end }}       
          </div>
          <div class="text-secondary text-center skills_heading">Analytical Skills</div> 
          <div data-aos="zoom-in-down" data-aos-offset="50" data-aos-delay="50" data-aos-once="true"
            data-aos-duration="1000" class="skills_container">           
              {{ range .Site.Params.skills }}
              <button type="button" class="btn btn-secondary btn-md    btn-skill">{{ .name }}</button>
              {{ end }}       
          </div>
        </div>
      </div>
    </div>
  </section>
</div>