.darkmode {
  background-color: #1e1f1f;
}

.darkmode-text-dark {
  color: #FCFCFC !important;
}

.darkmode-text-muted {
  color: #b0b3b8 !important;
}

.darkmode-text-blog {
  color: #2d333b !important;
}




